html,
body {
  font-family: $spartan;
  font-size: 16px;
  color: $black;
}

body {
  &.modal {
    position: fixed;
    width: 100vw;
  }
}

a {
  cursor: pointer;
}

.hide {
  display: none !important;
}

.tippy-box[data-theme~="custom"] {
  background-color: $black;
  color: $white;
  font-weight: bold;
  padding: 10px;

  & > .tippy-arrow::before {
    border-bottom-color: $black;
  }
}
